.brand {
  text-decoration: none;
  position: absolute;
  left: 10%;
  color: white;
}

.brand1 {
  position: relative;
  left: 0%;
  border: 2px solid #850432;
  border-radius: 50px;
}

.brand2 {
  text-decoration: none;
  color: white;
  position: relative;
  left: 0px;
  top: 0px;
  font-family: Nova Flat;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1px;
  color: white;
  flex-wrap: wrap;
  align-content: center;
}

.slider1 {
  height: 1000px;
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

Button:hover {
  cursor: pointer;
}
a:hover {
  cursor: pointer;
}


.NavigasyonBar {
  
  position: fixed;
  z-index: 1;
  width: 2000px;
  height: 90px;
  background-color: transparent;
  display: flex;
  left: 50%;
  margin-left: -1000px;
  top: 0px;
  transition: all 0.2s ease-in-out;
  width: 2000px;
  box-shadow: inset 2px 50px 100px #4f647f;
}
.Shadow {
  position: fixed;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  width: 2000px;
  height: 200px;
  box-shadow: inset 2px 90px 100px #4f647f;
  left: 50%;
  margin-left: -1000px;
  top: 0px;
  display: flex;
}

.Links {
  position: absolute;
  left: 50%;
  max-height: 90px;
  color: white;
}

.Links a {
  width: 100px;
  height: 90px;
  font-size: 17px;
  padding-left: 15px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  letter-spacing: 0.7px;
  font-weight: 200;
}
/* .Links a:hover {d
  background-color: white;
color: yellow  !important;

} */
#ListItems a:hover {
  background-color: #4f647f;
  color: white !important;
}

.RandevuAlButton {
  position: absolute;
  left: 82%;
  top: 20px;
  margin-left: 30px;
  background-color: #4f647f;
  color: #ffffff;
  border: 2px solid;
  border-color: #ffffff;
  height: 50px;
  width: 150px;
  font-size: 20px;
  text-align: center;
  border-radius: 25px;
}
.RandevuAlButton:hover {
  background-color: #850432;
  color: white;
  border: 2px solid;
  border-color: #ffffff;
  transition: all 0.5s ease-out;
}
.RandevuAlButton a {
  font-size: 20px;
}

.MenüButton {
  display: none;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-style: none;
  font-size: 25px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  background-color: #4f647f;
  padding-right: 40px;
  color: white;
}

.MenüButton:hover {
  background-color: #850432;
  transition: all 0.5s ease-out;
  color: #ffff;
  border: 2px solid #ffffff;
}
.fa-briefcase {
  position: relative;
  left: 25px;
}
.fa-bars {
  margin-left: 35px;
}
.fa-chevron-down {
  font-size: 18px;
}

.TanitimItems {
  display: none;
  justify-content: center;
}
.TanitimItems a {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 14px;
  height: 30px;
  width: auto;
}
.KurumsalItems {
  display: none;
  justify-content: center;
}
.KurumsalItems a {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 14px;
  height: 30px;
  width: auto;
}
.BolumlerItems {
  position: absolute;
  display: none;
  height: 600px;
  width: 1400px;
}
.GeriButtonBolumler {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: none;
}

#BolumlerListItems {
  top: 90px;
  left: -450px;
  display: flex;
  position: absolute;
  background-color: white;
  flex-direction: row;
}
#BolumlerListItems a {
  color: black;
}
#BolumlerListItems a:hover {
  background-color: #4f647f;
  color: white !important;
}
.BolumlerItems a {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
  width: 500px;
  font-weight: bolder;
}

.YonetimItems {
  display: none;
  justify-content: center;
}
.YonetimItems a {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 14px;
  height: 30px;
  width: auto;
}
.IletisimItems {
  display: none;
  width: 90px;
  position: relative;
  right: 900px;
}
.IletisimItemsIframe {
  background-color: #ffffff;
  color: black;
}
#Map {
  display: flex;
}
.IletisimItemsIframe h {
  font-weight: bold;
}

#ListItems {
  top: 90px;
  display: flex;
  position: absolute;
  background-color: white;
  flex-direction: column;
}

#ListItems a {
  color: black;
}
.DahiliListesi {
  position: absolute;
  top: 50px;
  left: 0%;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}
.DahiliListesi a {
  font-size: 13px;
  font-weight: normal;
  width: 350px;
  height: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
}
#dahili {
  top: 90px;
  display: flex;
  position: absolute;
  background-color: #850432;
  flex-direction: column;
}

#dahili a {
  font-size: 13x;
}

.CerrahiListesi {
  position: absolute;
  top: 50px;
  left: 350px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}
.CerrahiListesi a {
  height: 30px;
  font-size: 13px;
  font-weight: normal;
  width: 350px;
  padding-top: 1px;
  padding-bottom: 1px;
}
#cerrahi {
  top: 90px;
  display: flex;
  position: absolute;
  background-color: #850432;
  flex-direction: column;
}
#diger {
  top: 90px;
  display: flex;
  position: absolute;
  background-color: #850432;
  flex-direction: column;
}
#diger {
  font-size: 13px;
}
#cerrahi a {
  font-size: 13px;
}
.TemelListesi {
  position: absolute;
  top: 50px;
  left: 700px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}
.TemelListesi a {
  font-size: 13px;
  font-weight: normal;
  width: 350px;
  height: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
}
#Tlist {
  top: 90px;
  display: flex;
  position: absolute;
  background-color: #850432;
  flex-direction: column;
}

#Tlist a {
  font-size: 13px;
}

.DigerListesi {
  position: absolute;
  top: 50px;
  left: 1050px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}
.DigerListesi a {
  font-size: 13px;
  font-weight: normal;
  width: 350px;
  height: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
.GeriButton {
  display: none;
  text-decoration: none;
  width: 100%;
}

.carousel {
  position: absolute;
  z-index: 0;
  left: 0%;
  top: 0px;
  width: 100%;
  height: 1000px;
}
.carouselInner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.LeftButton {
  position: absolute;
  left: 0%;
  top: 0px;
  height: 100%;
  width: 90px;
  opacity: 0.7;
}
.LeftButton a {
  position: absolute;
  top: 40%;
  right: 33%;
  font-size: 100px;
}
.HLeftButton{
  position: relative;
  left: 0%;
  top: 0px;
  height: 100%;
  width: 90px;
  opacity: 0.7;


}

.HLeftButton a {
  position: absolute;
  top: 50%;
  margin-top: -75px;
  right: 50%;
  font-size: 100px;

} 

.RightButton {
  position: absolute;
  right: 0%;
  top: 0px;
  height: 100%;
  width: 90px;
  opacity: 0.7;
}
.RightButton a {
  position: absolute;
  top: 40%;
  font-size: 100px;
  left: 33%;
}
.HRightButton{
  position: relative;
left:0%; 
 top: 0px;
  height: 100%;
  width: 90px;
  opacity: 0.7;


}
.HRightButton a {
  position: absolute;
  top: 50%;
  margin-top: -75px;
  font-size: 100px;
  left: 50%;

} 


.search-box {
  position: absolute;
  top: 20px;
  left: 80%;
  width: fit-content;
  height: fit-content;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 1px;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 25px;

  background-color: white;
  padding-right: 40px;
  color: white;
}
.input-search::placeholder {
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: hidden;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  color: white;
  background-color: transparent;
  pointer-events: painted;
  background-color: #4f647f;
  border: 2px solid white;
}
.btn-search:hover {
  background-color: #850432;
  color: white;
  border: 2px solid white;
  transition: all 0.5s ease-out;
}
.btn-search:focus ~ .input-search {
  position: absolute;
  top: 50px;
  right: -175px;
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid white;
  transition: all 800ms;
}

.input-search:focus {
  position: absolute;
  top: 50px;
  right: -175px;
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid white;
  transition: all;
  color: white;
  font-size: 20px;
  outline: none;
}

.harita {
  height: 600px;
  width: 1000px;
}

.GeriButtonBolumler {
  display: none;
}
.GeriButtonDahili {
  display: none;
}

.GeriButtonCerrahi {
  display: none;
}
.GeriButtonTemel {
  display: none;
}
.GeriButtonDiger {
  display: none;
}

/*Cards      */

.Cards {
  position: absolute;
  top: 650px;
  width: 100%;
  height: 230px;
  background-color: rgb(255, 255, 255, 0.5);
  /* left: 50%;
margin-left: -345px; */
  display: flex;
  justify-content: center;
}

.Card1 {
  position: relative;
  top: 0px;

  height: 230px;
  width: 200px;

  background-color: rgb(255, 255, 255, 1);
  text-align: center;
  border: #4f647f solid 3px;
  border-radius: 10px;
  color: #4f647f;
}
.Card1:hover {
  background-color: #4f647f !important;
  color: white;
  border: white solid 3px;
}
.Card2 {
  position: relative;
  top: 0px;
  height: 230px;
  width: 200px;
margin-left: 30px;
margin-right: 30px;
  background-color: rgb(255, 255, 255, 1);
  text-align: center;
  border: #4f647f solid 3px;
  border-radius: 10px;
  color: #4f647f;
}
.Card2:hover {
  background-color: #4f647f !important;
  color: white;
  border: white solid 3px;
}

.CardIcon {
  position: relative;

  top: 20px;
}
.CardHeader {
  position: relative;
  top: 20px;
}

.Card3 {
  position: relative;
  top: 0px;
  height: 230px;
  width: 200px;
  background-color: rgb(255, 255, 255, 1);
  text-align: center;
  border: #4f647f solid 3px;
  border-radius: 10px;
  color: #4f647f;
}
.Card3:hover {
  background-color: #4f647f !important;
  color: white;
  border: white solid 3px;
}

.fa-stethoscope {
  font-size: 60px;
}
.fa-flask {
  font-size: 60px;
}
.fa-calendar {
  font-size: 60px;
}


.HVEbaslik{
position: absolute;
top: 1000px;
height: 750px;
  width: 100%;
 text-align: center;
 flex-wrap: wrap;
 align-content: end;

}
.HVEbg {
  position: relative;
  top: 0px;
  left: 0px;
  background-image: url("../public/hbg14.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.HaberlerVeEtkinlikler {
  position: absolute;
  top: 150px;
  height: 450px;
  width: 100%;
  justify-content: center;
  display: flex;


}

.buyukbaslik {
  position: relative;
  top: 50px;
  font-size: 30px;
  font-family: Lato, sans-serif ;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color: black;
  text-align: center;


}

.Haber {
  position: relative;
  top: 0px;
  margin-left: 15px;
  margin-right: 15px;
  height: 450px;
  width: 400px;
  /* background-color: rgb(255, 255, 255, 1); */
  background-color: transparent;
  text-align: center;
  /* border: #4f647f solid 1px; */
  border-radius: 10px;
  color: #4f647f;
}
.Haber p1 {
  position: relative;
  top: 30px;
  font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow:hidden;
    text-align: left;




}
.Haber h1 {
  position: relative;
  top: 10px;
  font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow:hidden;
    text-align: left;


}
.Hfotograf {
  position: relative;
  top: 0px;
  height: 225px;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  
}
.HBaslik {

  font-size: 20px;
  color: #4f647f;
}
.Hdetay {
  font-size: 15px;
  color: black;
}

.DuyurularAlani {

  position: absolute;
top: 1750px;
height: 500px;
  width: 100%;

 
 
}
.bga{
  
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 550px;
  /* background-image: url("../public/hstn3.jpg  "); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  /* -webkit-filter: blur(px); */
  border-top: white solid 1px;




}
.DuyuruBuyukBaslik{

  position: absolute;
  left: 50%;
  margin-left: -71px;
  top: 50px;
  font-size: 30px;
  font-family: Lato, sans-serif ;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color: black;
  text-align: center;

}
.duyurular 
{
  position: absolute;
  top: 150px;
  height: 300px;
  width: 100%;
  justify-content: center;
  display: flex;

  
}

.DuyuruBaslik{
  font-size: 20px;
}

.DuyuruDetay {

  font-size: 15px;


}
.Duyuru{
  position: relative;
  top: 0px;
  height: 100px;
  width: 350px;
  background-color: rgb(255, 255, 255, 0.7);
  border: #4f647f solid 1px;
  border-radius: 10px;
  color: #4f647f;
  margin-left: 15px;
  margin-right: 15px;

  

}
.DuyuruIcerik{
position: absolute;
top: 0px;
left: 10px;


}

.DuyuruIcon{
position: relative;
left: 5px;
width: 60px;
height: 100%;
display: flex;
flex-wrap:wrap;
align-content:center;
bottom: 2px;

}
.fa-envelope{
  font-size: 60px;

  
}
.Duyuru p1 {
  position: relative;
  top: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow:hidden;


}
.Duyuru h1 {
  position: absolute;
  left: 60px;
  top: 20px;
  width: 270px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow:hidden;
    font-size: 15px;
}

.Htarih{
position: absolute;
left: 50%;
margin-left: -15px;
top: -20px;
color: blue;
}
.Dtarih{
position: relative;
left:60px;
top: 70px;
color:blue;

}
.Footer {
position: absolute;
left: 0px;
top: 2300px;
width: 100%;
height: 550px;
background-color: #4f647f;
} 

/*  Mobil */

@media only screen and (max-width: 700px) {
  .brand {
    position: absolute;
    left: 10px;
    top: 20px;
    height: 50px;
    width: 150px;
  }
  .brand1 {
    width: 50px;
    height: 50px;
    border: 2px solid white;
  }

  .brand2 {
    font-size: 10px;
    position: absolute;
    left: 55px;
    top: 0px;

    height: 50px;
  }

  .NavigasyonBar #hidden {
    position: absolute;
    top: 90px;
    width: 313px;
    display: flex;
    flex-direction: column;
    background-color: #850432;
    max-height: 600px;
  }
  .NavigasyonBar {
    position: fixed;
    width: 100%;
    left: 0px;
    margin-left: 0px;
  }
  .Shadow {
    height: 100px;
    box-shadow: inset 2px 30px 100px #4f647f;
  }
  .carousel {
    height: 400px;
  }

  .NavigasyonBar .Links a {
    font-size: 15px;
    transition: all 0.5s ease-out;
    width: 100%;
    font-size: 20px;
    height: 50px;
    text-align: center;
  }
  .MenüButton {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 86%;

    border: 2px solid white;
  }

  .Links {
    position: absolute;
    left: 100px;
    display: none;
  }

  .RandevuAlButton {
    width: 100px;
    border: 2px solid #ffffff;
    position: absolute;
    top: 20px;
    left: 245px;
    right: 300px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .RandevuAlButton a {
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: -3px;
  }
  .search-box {
    position: relative;
    top: 20px;
    left: 185px;
  }
  #ListItems {
    top: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #ListItems a {
    font-size: 15px;
  }
  #BolumlerListItems {
    top: 0px;
    left: 0px;
    width: 100%;
    flex-direction: column;
    min-height: 313px;
    height: 313px;
  }
  #BolumlerListItems a {
    font-size: 20px;
    height: 50px;
  }
  .GeriButtonBolumler {
    display: flex;
  }

  #geributtonflex {
    display: flex;
  }

  #gerinone {
    display: none;
  }

  #dahili {
    top: 0px;
    left: 0px;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    min-height: 600px;
  }

  #dahili a {
    font-size: 12px;
    height: 30px;
  }
  .GeriButtonDahili {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
  }

  #cerrahi {
    top: 0px;
    left: 0px;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    height: 600px;
  }
  #cerrahi a {
    font-size: 12px;
    height: 30px;
  }
  .GeriButtonCerrahi {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
  }
  #Tlist {
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 313px;
  }

  #Tlist a {
    font-size: 11px;
    height: 30px;
  }
  .GeriButtonTemel {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
  }

  #diger {
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 313px;
  }
  #diger a {
    font-size: 12px;
    height: 30px;
  }
  .GeriButtonDiger {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
  }

  .GeriButton {
    bottom: 0px;
    display: flex;
  }

  .BolumlerItems a {
    font-weight: normal;
  }

  .IletisimItems {
    position: absolute;
    left: 0px;
  }
  .harita {
    position: relative;
    height: 100px;
    width: 313px;
  }

  .DahiliListesi {
    display: none;
  }
  .CerrahiListesi {
    display: none;
  }
  .TemelListesi {
    display: none;
  }
  .DigerListesi {
    display: none;
  }

  .Cards {
    position: absolute;
    top: 400px;
    left: 50%;
    margin-left: -207px;
    width: 414px;
    height: 780px;
    display: block;

  }
  .Card1 {
    margin-top: 15px;
    text-align: center;
    width: 100%;
    left: 0px;
  }
  .Card2 {
    margin-top: 15px;
margin-left: 0px;
margin-right: 0px;
    width: 100%;
    text-align: center;

    left: 0px;
  }
  .Card3 {
    margin-top: 15px;
    width: 100%;

    left: 0px;
  }
  .HVEbaslik{
    top: 1200px;
  }
  .HaberlerVeEtkinlikler{
    display: block;
    
  }


}

@media only screen and (min-width: 600px) {
  .NavigasyonBar #hidden {
    display: none;
  }
  .Links {
    display: flex;
  }
}
